body{
  background-image:url("body.jpg");

}
.body{
    background-color: deepskyblue;
}
nav{
    background:black;
    color:#22a53f;
    text-align: center;
    padding: 2vh;
}
nav a{
color:deepskyblue;
text-decoration: none;
}
.center{
    margin: 0 auto;
}
.fix-row{

    padding-top: 3vh;
    margin-bottom: 3vh;
}
.img-fluid{

    max-width: 60%;
}
h3{
color:white;
}
p{
color:black;
}
.descend{ 
    color: white;
    margin-bottom:5vh;
    font-family: 'Spectral SC', serif;}


/*                 Animations                    */
.descend{position: relative;animation-name: 
        descend;animation-duration: 1.5s;}
@keyframes descend{0% {top: -500px; opacity:-3;}
	             100%{ top: 0px; opacity: 1;}
}
.right-two{position: relative;animation-name: 
        right;animation-duration: 3s;}
@keyframes right{0% {right: -500px; opacity:-3;}
	             100%{ right: 0px; opacity: 1;}
}
.left{position: relative;animation-name: 
        left;animation-duration: 2.5s;}
@keyframes left{0%  {left: -500px; opacity:-3;}
	             100%{ left: 0px; opacity: 1;}
}

/*                 Media Querry                    */


@media only screen and (max-width: 767px) {

    .img-fluid{
    width:35%;
    }
        .fix-row{
        padding-top:0vh;
        margin-bottom: 0vh;
    }
    nav a{
        overflow: hidden;
        white-space: nowrap
    }
}



